@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151c2c;
  color: white;
}


@layer components {
  .form-element {
    @apply p-3 bg-[#151c2c] text-white border-2 border-solid border-[#2e374a] rounded-md mb-7;
  }
}

.softBg {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}